@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');


body{


     display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 




}

.header{

margin-top: 60px;
margin-right: 60px;
margin-left: 60px;
background-color: black;
border-radius: 20px;
height: 500px;
margin-bottom: 70px;





}



.header-div{

    display: flex;
    justify-content: center;
    
    color: white;
    font-size: 35px;

    padding: 40px;
    font-family: 'Poppins', sans-serif;
    
}
.header-info{

    margin-right: 30px;


}


.header-info p{

    font-size: 20px;
    /* font-family: 'Poppins', sans-serif; */
}

.header-info h1{
    color: rgb(132, 121, 235);
    height: 90px;
    width: 600px;
    padding-bottom: 30px;
    font-size: 55px;
}

.header-img img{
    height: 460px;
   
}

.header-info button{

    background-color: red;
    height: 70px;
    width: 140px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
}



/* ............middle section............. */



.middle-section{

    display: grid;
    grid-template-columns: 25% 75%;
    
    margin-right: 40px;
    margin-left: 60px;



margin-bottom: 70px;
    

}
.lists-info{
    background-color: black;
    padding: 40px;
    height: 150px;
    width: 200px;
    border-radius: 10px;
   
}

.lists{
    display: flex;
    flex-direction: column;
    
    color: white;
    
    
}
.list-1{

    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;

}

.list-1 a{
    text-decoration: none;
    color: black;
}
.list-2{

    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;

}
.list-3{

    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: red;
    color: white;

}



.matchs{

    display: grid;
     grid-template-columns: repeat(3,1fr); 
     
}

.match{

    margin-right: 5px;
}

.match-img img{
    height: 150px;
    width: 280px;
}

.match-button {

    padding-top: 10px;

}

.match-button button{

    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 20px;
}

.match-para {
    font-size: 18px;
    
  
}

.icons{

    display: flex;
    margin-right: 30px;
    margin-bottom: 20px;
   
   
}

.match-icon1 {

    display: flex;
    align-items: center;
    margin-right: 10px;
    

}
.match-icon2 {

    display: flex;
    align-items: center;
    margin-right: 10px;
    

}



/*.............. Footer ..............*/

.footer{
    background-color: black;
    height: 250px;
    width: 100%;
    color: white;
    padding-bottom: 40px;
   
}

.footer-heading{
    text-align: center;
    font-size: 25px;
}

.footer hr{


    border: 0.1px solid rgb(138, 139, 135);
    margin: 50px;
   
}


.anchor{

    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
   
    

}
.anchor a{
    margin-right: 10px;
    text-decoration: none;
    color: rgb(165, 153, 153);
   
   
}

.footer-icons .fa-brands{

    margin-right: 10px;
    
    color: rgb(165, 153, 153);
    
   

}

.footer-icons{
    text-align: center;
}





/* .......................PAGE2....................... */


.matchs{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 75%;
    /* height: 50px;
    width: 50px; */

}

.img1 img{
    height: 65px;
    width: 90px;


}
.img2 img{
    height: 65px;
    width: 90px;


}

.page2-match{

 display: flex;
 margin: 10px;
}


/*............... MEDIA QUEARY................ */

/* ...............For mobile............... */


@media only screen and (max-width:688px){


    /* ................header............... */


body{

    margin: 0%;
    padding: 0%;
}

    .header{

        height: 800px;
        width: 100%;
        margin: 20px;
       
       
        
    
    
}

.header-div{

    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    
    font-size: 20px;
    height: 350px;
    width: 150%;
    /* padding-right: 200px; */
   
   
}

.header-img img{

    height: 400px;
    width: 55%;
}



.header-info h1{
    text-align: center;
    font-size: 35px;
    height: 100px;
    width: 312px;
    color: white;
}

.header-info p{

    text-align: center;
    font-size: 15px;
    padding-right: 250px;
   
    
    
    
    color: white;

}

.header-info button{

    height: 50px;
    width: 100px;
    font-size: 18px;
   
   
}

.button{

    padding-left: 100px;
    padding-bottom: 10px;
}


/* ...........middle section/............ */

.middle-section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lists-info{

    background-color: white;
   
    
}

.lists .list{

    font-size: 22px;
    

}

.matchs{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}


/* ...........footer................ */


.footer{

    height: 350px;
}
.anchor{
    display: flex;
    flex-direction: column;
}


}


/* ...............for tablet..................... */


@media only screen and (max-width:992px) and (min-width:688px){


/* ...........header ..............*/

/* body{
    align-items: flex;
    align-items: center;
    justify-content: center;
    
} */

.header{

    height: 800px;
    width: 750px;
    margin: 40px;
    
     

   
    


}

.header-div{

display: flex;

justify-content: center;
align-items: center;


/* padding-right: 200px; */


}

.header-img img{

    padding-top: 20px;
    
height: 740px;
width: 320px;
}




 

.header-info h1{
/* text-align: center; */
font-size: 50px;
height: 150px;
width: 350px;
color: white;

}


.header-info p{

padding-top: 10px;

padding-bottom: 10px;

font-size: 25px;
margin: 20px;
/* padding-right: 250px; */
color: white;

}

.header-info button{

height: 100px;
width: 150px;
font-size: 25px;


}

.button{


padding-bottom: 10px;
}



/* ...........middle section/............ */

.middle-section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lists{
    

    display: inline-block;
    text-align: center;
    margin-left: 90px;
   

}
.list{

    height: 70px;
    width: 200px;

}

.lists-info{

    background-color: white;
    width: 100%;
    
   
    
}

.lists .list{

    font-size: 22px;
    

}

 .matchs{
    display: grid;
    grid-template-columns: repeat(2,1fr);



}
}



/* ...........................page2........................... */


.section2{

    display: grid;
    grid-template-columns: repeat(2,1fr);
}


.match2{

    border: 2px solid rgb(250, 239, 239);
    margin: 5px;
}



.page2-list{
    padding-right: 30px;
} 

.img1 img{
    height:80px ;
    width:100px ;
}

.img2 img{
    height:80px ;
    width:100px ;
}

.page2-match p{

    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}

.match-para1{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.match-para2{
    text-align: center;
    font-size: 16px;
    color: gray;
    
}

.list-11{
    background-color: red;
}

.list-33{
    background-color: white;
    color: black;
}





/* ...............media query................ */

@media only screen and (max-width:688px){


    .section2{
        display: flex;
        flex-direction: column;
    
    }

    .matchs2{

        padding-right: 40px;
    }
}


@media only screen and (max-width:992px) and (min-width:688px){

    .section2{
        display: flex;
        flex-direction: column;
       
    
    }

    .page2-list{
        padding-right: 120px;
    }

}



